<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Logs</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/firstandthird/ft-ui/75b41702c742423474dea0d09945a042ee2fa2ef/dist/ft-ui.css"/>
    <link rel="stylesheet" href="{{endpoint}}/ui/logs.css"/>
  </head>
  <body>
    <h1 class="spacing-medium">Logs</h1>
    <ul class="quick-search list-inline spacing-small font-size-small">
      <li>Quick Search:</li>
      <li><a href="{{endpoint}}">All</a></li>
      <li><a href="{{endpoint}}?query=event:request">Requests</a></li>
      <li><a href="{{endpoint}}?query=event:ops">Ops</a></li>
      <li><a href="{{endpoint}}?query=event:log">Log</a></li>
      <li><a href="{{endpoint}}?query=event:error">Error</a></li>
      <li><a href="{{endpoint}}?query=event:request AND statusCode!=200 AND statusCode!=304">4xx</a></li>
      <li><a href="{{endpoint}}?query=event:request AND statusCode:500">500</a></li>
    </ul>
    <form class="form spacing-medium" action="{{endpoint}}" method="GET">
      <input placeholder="Search..." class="form--input" type="text" value="{{query}}" name="query"/>
    </form>
    <table>
      <thead>
        <th>Time</th>
        <th>Event</th>
        <th>Tags</th>
        <th>Preview</th>
      </thead>
      <tbody>
        {{#each logs}}
          <tr class="log-entry">
            <td class="log-timestamp">{{relative timestamp}}</td>
            <td class="log-event"><a href="{{../endpoint}}?query=event:{{event}}">{{event}}</a></td>
            <td class="log-tags">
              {{#each tags}}
                <a href="{{../endpoint}}?query=tags:{{this}}">{{this}}</a>&nbsp;
              {{/each}}
            </td>
            <td class="log-preview log-type-{{event}}">
              {{#ifequal event "request"}}
                <span class="log-request-method">{{method}}</span>
                <span class="log-request-path">{{path}}</span>
                <span class="log-request-query">{{stringify query}}</span>
                <span class="log-request-status log-request-status-{{statusCode}}">{{statusCode}}</span>
                <span class="log-request-response-time">{{responseTime}}ms</span>
              {{/ifequal}}
              {{#ifequal event "ops"}}
                <span class="log-ops-load"><label>Load:</label> {{join os.load ", "}}</span>
                <span class="log-ops-mem"><label>Mem:</label> {{filesize os.mem.free}}/{{filesize os.mem.total}}</span><br/>
                <span class="log-ops-requests">
                  <label>Requests:</label>
                  {{#each load.requests}}
                    {{total}} ({{@key}})
                  {{/each}}
                </span>
                <span class="log-ops-response">
                  <label>Response Times:</label>
                  {{#each load.responseTimes}}
                    {{avg}}/{{max}} ({{@key}})
                  {{/each}}
                </span>
              {{/ifequal}}
              {{#ifequal event "error"}}
                {{message}}
              {{/ifequal}}
              {{#if data}}
                <span class="log-data">{{stringify data}}</span>
              {{/if}}
            </td>
          </tr>
          <tr class="log-details">
            <td colspan="4"><pre>{{stringify . true}}</pre></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{{endpoint}}/ui/logs.js"></script>
  </body>
</html>
