body {
  margin: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  text-align: left;
}

td {
  padding: 5px 0;
}

.log-entry {
  border-top: 1px solid #ccc;
  cursor: pointer;
}

.log-details {
  display: none;
}
.log-details td {
  padding: 0 20px;
}

.log-timestamp {
  width: 150px;
}

.log-event {
  width: 100px;
}

.quick-search li {
  padding-right: 10px;
}

.log-request-method {
  text-transform: uppercase;
}

.log-type-request span {
  color: #ccc;
}
span.log-request-path {
  color: #444;
}
span[class*="log-request-status-4"],
span.log-request-status-500 {
  color: #ff0000;
}
