body {
  margin: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  text-align: left;
}

td {
  padding: 5px 0;
}

.log-entry {
  border-top: 1px solid #ccc;
}

.log-details {
  display: none;
}
.log-details td {
  padding: 0 20px;
}

.log-timestamp {
  width: 150px;
}

.log-event {
  width: 100px;
}

.quick-search li {
  padding-right: 10px;
}
